@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Oswald&family=Roboto+Condensed&display=swap');
.offTitle {
    font-family: 'Oswald';
    color: white !important;
    font-size: 2rem !important;
}
.offBody {
    font-family: 'Alegreya Sans';
    color: antiquewhite;
    font-size: 1rem;
}